@model Anime
@inject IAnimeRepository Repository


@{
    ViewBag.Title = "HÜMAT - " + Model.Title;
}
<div class="content">
    <div class="container">
        <div class="box">
            <div class="blog-entry">
                <div class="entry-header">
                    <div class="position-text">
                        <i class="fa fa-video-camera"></i>
                        <h2>@Model.Title</h2>
                        <span>@Model.UploadDate</span>
                    </div>
                    <div class="text-center"><img src="@Model.ImageUrl" height="720"></div>

                </div>
                <div class="entry-content" style="word-wrap: break-word;">
                    <p style="font-size: 24px">@Model.Summary</p>
                    @if (Repository.GetAnimeEpisodes(Model.Id).Count() > 0)
                    {
                        <h2>Bölümler</h2>
                        <div class="list-group" style="width: 60%">
                            @foreach (var item in Repository.GetAnimeEpisodes(Model.Id).OrderBy(s => s.EpisodeNo))
                            {
                                <a class="btn list-group-item list-group-item-action"
                                   asp-controller="Anime"
                                   asp-action="Episode"
                                   asp-route-id="@item.Id"
                                   style="text-align: left; word-wrap: break-word;">@item.EpisodeNo. Bölüm @item.Title</a>
                            }
                        </div>
                    }

                </div>

            </div>
            <div id="disqus_thread"></div>
        </div>
    </div>
</div>

<script>

    /**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function () {
        this.page.url = "http://localhost:56882/Anime/Details/"+@Model.Id;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "Anime - "+@Model.Id; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://humat.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
