@model PanelEpisodesViewModel

@{
    ViewBag.Title = "HÜMAT - Yetkili Paneli - " + Model.Anime.Title + " Bölümleri";
}


<div class="row">
    <div class="col col-md-4"></div>
    <div class="col col-md-4" style="word-wrap: break-word;">
        <h4>@Model.Anime.Title'ın Bölümleri</h4>
        <a class="btn btn-success m-2"
           asp-controller="Anime"
           asp-action="CreateEpisode"
           asp-route-id="@Model.Anime.Id">
            Yeni Bölüm
        </a>
        <table class="table table-bordered table-hover text-md-center">
            <thead>
                <tr>
                    <th> Bölümler </th>
                    <th style="width: 45%"> İşlemler </th>
                </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.AnimeEpisodes.OrderBy(s => s.EpisodeNo))
            {
                <tr>
                    <td>
                        <p class="m-3">@item.EpisodeNo. Bölüm - @item.Title</p>
                    </td>
                    <td>
                        <a asp-controller="Anime"
                           asp-action="EditEpisode"
                           asp-route-id="@item.Id"
                           class="btn btn-primary m-2">
                            Düzenle
                        </a>
                        <a class="btn btn-danger js-delete m-2"
                           data-controller="anime"
                           data-action="deleteepisode"
                           data-title="@item.Title"
                           data-id="@item.Id">
                            Sil
                        </a>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
    <div class="col col-md-4" style="word-wrap: break-word;"></div>
</div>


<script>

    $(document).ready(function () {
        $(".table .js-delete").on("click",
            function() {
                var button = $(this);
                bootbox.confirm({
                    title: button.attr('data-title'),
                    message:"\"" + button.attr('data-title') + "\" "+ "bölümünü silmek istediğine emin misin?",
                    size: "large",
                    closeButton: false,
                    backdrop: true,
                    callback: function(result) {
                        if (result) {
                            $.ajax({
                                url: "/"+button.attr('data-controller')+"/"+button.attr('data-action')+"/"+button.attr('data-id'),
                                success: function() {
                                    button.parents("tr").remove();
                                }
                            });
                        }
                    }
                });
            });

    });
</script>